---
- name: Install PHP for PostgreSQL
  ansible.builtin.apt:
    name: php8.2-pgsql
    state: present
    update_cache: yes
  when: zabbix_database == "pgsql"

- name: Install Zabbix packages
  ansible.builtin.apt:
    name:
      - locales
      - nginx
      - php-pgsql
      - "zabbix-server-{{ zabbix_database }}"
      - zabbix-frontend-php
      - "zabbix-{{ zabbix_webserver }}-conf"
      - zabbix-sql-scripts
      - zabbix-agent
    state: present
    update_cache: yes

- name: Create Zabbix configuration file
  ansible.builtin.template:
    src: zabbix_server.conf.j2
    dest: /etc/zabbix/zabbix_server.conf
    owner: root
    group: root
    mode: '0600'

- name: Create nginx configuration for Zabbix
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/zabbix/nginx.conf
    owner: root
    group: root
    mode: '0644'

- name: Enable en_US.UTF-8 in /etc/locale.gen
  ansible.builtin.lineinfile:
    path: /etc/locale.gen
    regexp: '^#? *en_US.UTF-8 UTF-8'
    line: 'en_US.UTF-8 UTF-8'
    state: present

- name: Generate locales
  ansible.builtin.command: locale-gen
  changed_when: false  # locale-gen always outputs text

- name: Set system-wide default locale
  ansible.builtin.copy:
    dest: /etc/default/locale
    content: |
      LANG=en_US.UTF-8
  notify: 
    - Reload systemd environment
